name: Tests
on: push
jobs:
  tests:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: "3.10"
    - run: pipx install --python='C:\hostedtoolcache\windows\Python\3.10.11\x64\python.exe' poetry==1.3.2
    - run: poetry install --sync
    - run: |
        $(poetry env info --path)\Scripts\activate
        nox -s fmt
